<app-header></app-header>

<ng-container *ngIf="(bookmarkLoading$ | async) === false; else loading">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
    <mat-card>
      <mat-card-header class="card-header">
        <div class="header-content">
          <h2>Update Existing Bookmark</h2>
          <span>Type bookmark name and url</span>
        </div>
        <mat-icon class="bookmark-icon">bookmark_border</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <app-input
          placeholder="Enter name"
          label="Name"
          [control]="nameFormControl"
        ></app-input>
        <app-input
          placeholder="Enter URL"
          label="URL"
          [control]="urlFormControl"
        ></app-input>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions class="actions">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="form.invalid"
        >
          Update Bookmark
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</ng-container>

<ng-template content #loading>
  <ng-container *ngIf="bookmarkLoading$ | async as bookmarkLoading">
    <app-spinner [visibility]="bookmarkLoading"></app-spinner>
  </ng-container>
</ng-template>
