<app-header>
  <div content>
    <app-input
      [inputColor]="'warn'"
      placeholder="Filter bookmarks..."
      label="Filter bookmarks..."
      icon="search"
      [control]="searchFormControl"
    ></app-input>
  </div>
</app-header>

<router-outlet *ngIf="!searchFormControl.value"></router-outlet>

<div class="container">
  <ng-container *ngIf="searchFormControl.value">
    <div class="gray-color">
      Results for <i>"{{ searchFormControl.value }}"</i>
    </div>
    <div *ngIf="filteredBookmarks$ | async as filteredBookmarks">
      <div *ngIf="filteredBookmarks.length > 0; else noResults">
        <div *ngFor="let item of filteredBookmarks">
          <app-bookmark-card [bookmark]="item"></app-bookmark-card>
        </div>
      </div>

      <ng-template #noResults>
        <div>No results found</div>
      </ng-template>
    </div>
  </ng-container>
</div>
